<nav class="navbar navbar-expand-md navbar-dark bg-primary">
  <div class="container">
    <a href="/" class="navbar-brand">MEAN Auth App</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse justify-content-stretch" id="navbarCollapse">
      <ul class="navbar-nav">
        <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" class="nav-item">
          <a [routerLink]="['/']" class="nav-link">Home</a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" class="nav-item">
          <a [routerLink]="['/login']" class="nav-link">Login</a>
        </li>
        <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" class="nav-item">
          <a [routerLink]="['/register']" class="nav-link">Register</a>
        </li>
      </ul>
    </div>
  </div>
</nav>